.header {
    background-image: url(../scss/img/pexels-jpg.jpg);
    padding: 1rem 0 5rem 0;
    background-size: cover;
  }


.contenido-header {
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    @include tablet{
        min-height: 70rem;
    }
    h1 {
        text-align: center;
        color: $blanco;
        font-weight: $bold;
        max-width: 55rem;

    }
}
.navbar-nav{
  
        font-size: 3rem;
    }

   .nav-link{
       color: $blanco;
   }
    
