
.header{
    background-color: $gris-oscuro;
    padding: 1rem 0 3rem 0 ;
    height:20rem ;
    
    }

  
.contenedor.seccion{
    h1{
        color:$verde;
        font-weight: $bold;
        font-family: $font;
        margin: 3rem 0;
    }
}
.navbar-toggler{
    
    background-color: $gris-oscuro;
    color: $blanco;
  
 }
 
