
.header{
    background-color: $gris-oscuro;
  
  
       height:20rem ;
  
      
   }
   
    
    

  
.contenedor.seccion{
    h1{
        color:$verde;
        font-weight: $bold;
        font-family: $font;
        margin: 3rem 0;
    }
}

